body {
  background-color: #666; /* Couleur de fond */
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #333; /* Couleur de la barre de navigation */
}

.navbar a {
  color: #fff; /* Couleur du texte de la barre de navigation */
}

.profile {
  text-align: center;
  padding: 20px;
  background-color: #666;; /* Couleur de fond du profil */
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
}

.profile h1,
.profile h3 {
  color: #fff; /* Couleur du texte dans le profil */
}

.section {
  text-align: center;
  margin: 20px;
  background-color: #4a4747;; /* Couleur de fond des sections */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ombre */
}

.section h2 {
  color: #333; /* Couleur du titre des sections */
}

.section p {
  color: #555; /* Couleur du texte des sections */
}


#skills {
  background-color: #4a4747; /* Change the background color as needed */
  padding: 80px 0;
}

#skills h2 {
  color: #ffffff; /* Blue color for the heading text */
}

.progress-bar-htmlcss { background-color: #3498db; }
.progress-bar-javascript { background-color: #e74c3c; }
.progress-bar-php { background-color: #2ecc71; }
.progress-bar-mysql { background-color: #f39c12; }
.progress-bar-symfony { background-color: #9b59b6; }
.progress-bar-wordpress { background-color: #27ae60; }
.progress-bar-prestashop { background-color: #e67e22; }
.progress-bar-react { background-color: #34495e; }


@keyframes progressBarAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.progress-bar-animated {
  animation: progressBarAnimation 2s ease-in-out;
}
/* Your existing CSS */

/* Adjust the card styles for a more rectangular shape */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px; /* Add border-radius for rounded corners */
}

.card-img-top {
  flex: 2; /* Adjust the flex ratio for the image */
  object-fit: cover;
  border-top-left-radius: 10px; /* Add border-radius to top-left corner */
  border-top-right-radius: 10px; /* Add border-radius to top-right corner */
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Add padding for better spacing */
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
}

/* Center Pagination Styles */
#projets {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #ddd;
} 

.custom-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}


